[submodule "overlays/taffybar/taffybar"]
	path = overlays/taffybar/taffybar
	url = git@github.com:taffybar/taffybar.git
[submodule "overlays/rjg"]
	path = overlays/rjg
	url = rjgp:overlay
[submodule "modules/home-manager/xorg/xmonad/XMonadMasterOverlay"]
	path = modules/home-manager/xorg/xmonad/XMonadMasterOverlay
	url = git@github.com:evanjs/XMonadMasterOverlay.git
[submodule "modules/home-manager/xorg/xmonad/XMonadLayouts"]
	path = modules/home-manager/xorg/xmonad/XMonadLayouts
	url = https://github.com/evanjs/XMonadLayouts
[submodule "overlays/mozilla/nixpkgs-mozilla"]
	path = overlays/mozilla/nixpkgs-mozilla
	url = git@github.com:mozilla/nixpkgs-mozilla.git
