[submodule "overlays/taffybar/taffybar"]
	path = overlays/taffybar/taffybar
	url = git@github.com:taffybar/taffybar.git
[submodule "overlays/rjg"]
	path = overlays/rjg
	url = git@github.com:RJG-Engineering/overlay
[submodule "config/new-modules/x/wm/XMonadMasterOverlay"]
	path = config/new-modules/x/wm/XMonadMasterOverlay
	url = git@github.com:evanjs/XMonadMasterOverlay.git
[submodule "config/new-modules/x/wm/XMonadLayouts"]
	path = config/new-modules/x/wm/XMonadLayouts
	url = https://github.com/evanjs/XMonadLayouts
[submodule "external/home-manager"]
	path = external/home-manager
	url = https://github.com/evanjs/home-manager
[submodule "external/nixpkgs"]
	path = external/nixpkgs
	url = https://github.com/evanjs/nixpkgs
[submodule "config/external/private"]
	path = external/private
	url = https://github.com/evanjs/secrets
